@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    background-image: url("background.jpg");
    text-align: center;
}

span {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

input:focus {
    border-color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

th {
    border-bottom: 1px solid white;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.center {
    text-align: center;
}

.mainButton {
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.accountButton {
    position: absolute;
    top: 15px;
    right: 20px;
}

.pageButton {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.pageButton:hover {
    border-color: darkgray;
    color: darkgray;
}

.pageButton:active {
    position: relative;
    top: 2px;
}

.insertButton {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: cyan;
}

.insertButton:active {
    position: relative;
    top: 1px;
}

.updateButton {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: lightgreen;
}

.updateButton:active {
    position: relative;
    top: 1px;
}

.deleteButton {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: lightcoral;
}

.deleteButton:active {
    position: relative;
    top: 1px;
}

.input25px {
    width: 25px;
}

.input150px {
    width: 150px;
}

.accountModal {
    position: absolute;
    top: 20px;
    right: 20px;
}